

@media only screen and (max-width:800px){
    .main-na{
        position: absolute;
        display: none;
    }
    .profile-information{
        display: block;
        flex-wrap: wrap;
    }
    .aboutMe, .details{
        width: 95%;
    }
    .profile-img{
        width: 70%;
        position: relative;
        left: 10%;
    }
    .stars{
        width: 25%;
        
    }
    .github-button{
        width: 50%;
    }
    .profile{
        margin: 0% 0%;
    }
    
}


@media only screen and (max-width:600px){
    .stars{
        width: 35%;
    }
    
    .html-css{
        display: none;
    }
}