.navigator{
    background-color: #434242;
    width: 100%;
    line-height: 1%;
    border-radius: 5px;
    text-align: center;
    position: absolute;
    top: 0%;
}

.navigator a{
    text-decoration: none;
    color: #F3EFE0;
}

.navigator button{
    position: relative;
    background-color: #9e9516;
    border-radius: 5px;
    border-color: #434242;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.navigator .href-donate{
    text-decoration: none;
    color: #F3EFE0;
}

body{
    background-image: url(media/back.png);
}

.articles{
    width: 70%;
    position: absolute;
    height: 110%;
    left: 15%;
    top: 15%;
}
.articles .title-img{
    width: auto;
    max-width: 90%;
}

.articles h2{
    width: 100%;
}
.article-example{

    border-radius: 5px;
    background-color: #434242;
    padding-bottom: 3%;
}

.icon-eye{
    position: relative;
    width: 1%;
    left: 91%;
    top: 1%;
}

.views{
    width: 1%;
    left: 91.5%;
    position: relative;
    color: #22A39F;
}

/* добавление статей */
.add_article{
    position: fixed;    
    bottom: -35%;
    left: 3%;
    width: 100%;

}

.date{
    color: #22A39F;
}

.a_to_article{
    text-decoration: none;
    color: #F3EFE0;
}

.add-articles{
    background-color: #434242;
    color: #F3EFE0;
    border-radius: 5px;
    border-width: 0ch;
}

.add-articles:hover{
    background-color: #313131;
    color:#22A39F;
}

.color-42{
    left: -3%;
    background-color: #434242;
    width: 100%;
    position: relative;
    border-radius: 5px  ;
}

.form{
    padding-bottom: 1%;
}

dt,dd{
    margin-top: 1%;
    margin-bottom: 1%;
    border-radius: 5px;
    color: #22A39F;
}

.textarea-1{
    position: absolute;
    left: 70%;
    bottom: 20%;
  
}

.textarea-1 textarea{
    border-radius: 5px;
} 

.send-art{
    background-color: #22A39F; 
    border-radius: 5px;
    border-width: 0ch;
    color: #434242;
}

.send-art:hover {
    background-color: #1e918d;
    color: #F3EFE0;
}

.articles p {
    margin-left: 3%;
    color: #F3EFE0;
}
