body{
    background-image: url(media/backround1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-origin: border-box;
}
.background{
    width: 100%;
    background-color: white;
    /* border-radius: 20px; */
    top: 100%;
    position:absolute;
    
}

.name{
    margin: 25% auto;
    width: 50%;
    color: white;

}

.name h1, h2{
    text-align: center;
}

.profile-h1,h1,h2, h3{
    color: rgb(5, 182, 252);
}

.profile-information{
    display: inline-flex;

}

.profile-information img{
    height: 200px;
    width: 35%;

}

.profile{
    margin: 0 25%;
}

hr{
    height: 0px;
    color: rgb(172, 172, 172);
    border-style: solid;
}

footer{
    position: absolute;
    background-color: chocolate;
    width: 100%;
}

nav{
    position: absolute;
    width: 12%;
    z-index: 1;
    right: 4%;
    top: 110%;

}

footer hr{
    width: 50%;
}

.color-grey{
    color: grey;
}

.color-white{
    color: azure;
}

.follow_img{
    width: auto;
    display: block;
}

nav li{
    color: azure;
    padding-top: 15px;
    padding-bottom: 15px;
    display: block;
    text-align: center;
    list-style-type: none;
    background-color: #222222;

}



.stars{
    width: 20%;
    height: 30%;
    padding-left: 10%;
    
}

#tr{
    width: 100%;
    background-color: aqua;
}

.github{
    width: 50%;
    border-color: black;
    border-width: 10px;
    display: inline;
}

.stars1:hover{
    transform: scale(1.4);
    transition: all 0.1s ease-in-out;
    text-decoration-color: aqua;
}   

nav li a{
    color: black;
    text-decoration: none;
    opacity: 0.6;
  

}

nav li a:hover{
    opacity: 1;
}