body{
    background-image: url(media/backround1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-origin: border-box;
}
.background{
    width: 100%;
    background-color: white;
    /* border-radius: 20px; */
    top: 100%;
    position:absolute;
    
}

.name{
    margin: 25% auto;
    width: 50%;
    color: white;

}

.name h1, h2{
    text-align: center;
}

.profile-h1,h1,h2, h3{
    color: rgb(5, 182, 252);
}

.profile-information{
    display: inline-flex;

}

.profile-information img{
    height: 200px;
    width: 35%;

}

.profile{
    margin: 0 25%;
}

hr{
    height: 0px;
    color: rgb(172, 172, 172);
    border-style: solid;
}

footer{
    position: absolute;
    background-color: chocolate;
    width: 100%;
}

nav{
    position: fixed;
    width: 25%;
    z-index: 1;
    left: 90%;
}

footer hr{
    width: 50%;
}

.color-grey{
    color: grey;
}

.color-white{
    color: azure;
}

.follow_img{
    width: auto;
    display: block;
}

nav a{
    overflow: hidden;
}