.navigator{
    background-color: #434242;
    width: 100%;
    line-height: 1%;
    border-radius: 5px;
    text-align: center;
    position: absolute;
    top: 0%;
}

.navigator a{
    text-decoration: none;
    color: #F3EFE0;
}

.navigator button{
    position: relative;
    background-color: #9e9516;
    border-radius: 5px;
    border-color: #434242;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.navigator .href-donate{
    text-decoration: none;
    color: #F3EFE0;
}

body{
    background-image: url(media/back.png);
}

.articles{
    width: 70%;
    position: absolute;
    height: 110%;
    left: 15%;
    top: 15%;
}
.articles .title-img{
    width: auto;
    max-width: 90%;
}

.articles h2{
    width: 100%;
}
.article-example{

    border-radius: 5px;
    background-color: #434242;
    padding-bottom: 3%;
}

.icon-eye{
    position: absolute;
    width: 3%;
    left: 77%;

}

.views{
    width: 3%;
    left: 81%;
    position: relative;
    color: #22A39F;
}

/* добавление статей */
.add_article{
    position: fixed;    
    left: 3%;
    width: 100%;

}

.date{
    color: #22A39F;
    padding-left: 3%;
}

.a_to_article{
    text-decoration: none;
    color: #F3EFE0;
}

.add-articles{
    background-color: #434242;
    color: #F3EFE0;
    border-radius: 5px;
    border-width: 0ch;
    position: fixed;
    bottom: 3%;
}

.add-articles:hover{
    background-color: #313131;
    color:#22A39F;
}

.color-42{
    left: -3%;
    background-color: #434242;
    width: 100%;
    position: relative;
    border-radius: 5px  ;
    bottom: -50%;
    position: fixed;
}

.form{
    padding-bottom: 1%;
}

dt,dd{
    margin-top: 1%;
    margin-bottom: 1%;
    border-radius: 5px;
    color: #22A39F;
}

.textarea-1{
    position: absolute;
    left: 70%;
    bottom: 1%;
    border-radius: 5px;
    resize: horizontal;
    
  
}

.send-art{
    background-color: #22A39F; 
    border-radius: 5px;
    border-width: 0ch;
    color: #434242;
}

.send-art:hover {
    background-color: #1e918d;
    color: #F3EFE0;
}

.articles article {
    margin-left: 3%;
    color: #F3EFE0;
    width:95%;
    height: auto;
    word-wrap: break-word;
    padding-top: 2%;
    padding-bottom: 2%;
}

.dl-form-main{
    position: relative;
    left: 35%;
}




.button-get-desc{
    position: absolute;
    left: 4%;
    text-decoration: none;
    top: 5%;
    border-style: outset;
    width: 5%;
    text-align: center;
    background-color: #1e918d;
    color: #434242;

}

.button-get-desc:hover{
    background-color: #116360;
    color: #F3EFE0;
}
.p-form{
    color: red;
}