{% extends 'base.html' %}

{% block head %}
<meta name="article" >
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style-article.css')}}">
<title>JustGimli-Articles</title>
<script type="text/javascript" src="../static/js/scripts-article.js"></script>  
{% endblock %}
   
{% block body %}
<div class="articles">
    {% for art in articles %}
    <div class="article-example"><center><h2><a href="{{ art.a_to_article }}">{{ art.name }}</a> </h2>
        <img class="title-img" src="{{ art.a_to_img }}" ></center>
        <img src="https://cdn-icons-png.flaticon.com/512/58/58976.png" class="icon-eye"><span class="views">{{ art.views }}</span>
    </div><hr>
    {% else %}
    <divy>статей пока нет</div>
    {% endfor %}
    
</div>

<div class="add_article">
    <button class="add-articles"> Добавить статью</button>
    <form action="{{url_for('add_article')}}" method="post" class="form">
        <dl>
            <dt>Название</dt>
            <dd><input type="text" name="name-article"></dd>
            <dt>Ссылка на статью</dt>
            <dd><input type="text" name="href-article"></dd>
            <dt>Изображение</dt>
            <dd><input type="image" name="image" enctype="multipart/form-data" ></dd>
            <dt><input type="submit" value="Отправить статью"></dt>
        </dl>
    </form>
</div>

{% endblock %}