{% extends 'base.html' %}

{% block head %}
<meta name="article" >
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style-article.css')}}">
<title>JustGimli-Articles</title>
<script type="text/javascript" src="../static/js/scripts-article.js"></script> 
<link rel="stylesheet" type="text/css" href="../static/adoptive-articles.css"> 
{% endblock %}
   
{% block body %}
<div class="articles">
    {% for art in articles %}
    <div class="article-example"><center><h2><a href="{{ art.a_to_article }}" class="a_to_article">{{ art.name }}</a></h2>
        <img class="title-img" src="{{ art.a_to_img }}" ></center>
        <article>{{art.textarea}}</article>
        <span class="views">П.: {{ art.views }}</span>
        <span class="date">{{ art.date.split()[0] }}</span>
    </div><hr>
    {% else %}
    <div>статей пока нет</div>
    {% endfor %}
    
</div>
<button class="add-articles"> Добавить статью</button>
<div class="add_article">
    
 
    <div class="color-42">
        <nav class="get-descript"><table class="table">
            <tr  class="tr-button">
                <td>1</td>
            </tr>
            <tr>
                <td>2</td>
            </tr>   
            
        </table></nav>
    
        <form id="form-for-textarea"  action="{{url_for('add_article')}}" method="post" class="form" enctype="multipart/form-data" >
            <dl class="dl-form-main">
                <dt>Название</dt>
                <dd><input type="text" name="name-article"  ></dd>
                <dt>Ссылка на статью</dt>
                <dd><input type="text" name="href-article"></dd>
                <dt>Изображение</dt>
                <dd><input type="file" name="image" accept="image/png" ></dd>
                <dt><input type="submit" value="Отправить статью"  class="send-art"></dt>
            
            </dl>
            <dl class="textarea-1">
                <dt>Описание</dt>           
                <dd><textarea name="description"  cols="40" rows="10"></textarea></dd>
            </dl>
        </form>
            
        
        
        
    </div>
</div>

{% endblock %}