{% extends 'base.html' %}

{% block head %}
<meta name="article" >
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style-article.css')}}">
<title>JustGimli-Articles</title>
<script type="text/javascript" src="../static/js/scripts-article.js"></script>  
{% endblock %}
   
{% block body %}
<div class="articles">
    <div class="article-example"><center><h2><a href="https://flask-russian-docs.readthedocs.io/ru/latest/index.html">Flask-book</a> </h2>
        <img class="title-img" src="https://flask-russian-docs.readthedocs.io/ru/latest/_static/grinberg-flask.jpg" ></center>
        <img src="https://cdn-icons-png.flaticon.com/512/58/58976.png" class="icon-eye"><span class="views">0</span>
    </div><hr>
    <div class="article-example"><center><h2>Заголовок</h2>
        <img class="title-img" src="../static/media/backround1.jpg" ></center>
        <img src="https://cdn-icons-png.flaticon.com/512/58/58976.png" class="icon-eye"><span class="views">0</span>
    </div><hr>
        
    
</div>
{% endblock %}