<!DOCTYPE html>
<html lang="en">
<head>
    <script type="text/javascript" src="../static/js/jquery.min.js"></script>
    
    {% block head %}
    {% endblock %}

    
</head>
<body>
    <nav class="navigator">
        <a class="a-navbar" href="{{url_for('main')}}">Главная</a> |
        <a class="a-navbar"  href="{{url_for('articles')}}">Статьи</a>
        
        <button ><a class="href-donate" href="https://my.qiwi.com/Petr-MmGR4GYiLG">Donate</a> </button>
    </nav>  
    {% block body %}
    {% endblock %}
</body>
</html>